/* CAROUSEL */

.carousel {
  margin: 5.4rem auto;
  width: 91.4%;
}
.carousel-images {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-images img {
  width: 1400px;
  height: 1200px;
  transition: transform 0.5s ease;
  border: 2px solid #2a2727;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.lorem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  position: absolute;
  top: 58%;
  left: 14%;
  z-index: 10;
}
.loremH {
  color: #584567;
  display: flex;
  align-items: center;
  font-size: 6rem;
  z-index: 1;
}
.btn-H1 {
  font-size: 1rem;
  position: relative;
  top: 75%;
  z-index: 1;
  width: 140px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.4rem;
  border: 0.2rem solid rgb(0, 0, 0);
  margin-bottom: 10px;
  background-color: transparent;
  /*width: fit-content;*/
}
#contentM {
  /*position: absolute;
  top: 50%;*/
  width: 500px;
  z-index: 1;
  color: #00536a;
  font-size: 1.22rem;
  font-weight: 900;
}
.fe {
  position: absolute;
  left: 89%;
  z-index: 1;
}
.gcTIqD {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  height: 0.8rem;
  opacity: 0.6;
  width: 0.8rem;
  background-color: red;
}
/* bloc social media  */

.social-inner {
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5%;
  top: 26%;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #e9dede;
  cursor: pointer;
  width: 46px;
  height: 22rem;
}
.social-inner.background-social .share-item,
.social-inner.background-social .share-item {
  color: #fff;
  text-decoration: none;
}
.svg-inline--fa {
  display: flex;
  align-items: center;
  height: 1.2em;
  overflow: visible;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 11px;
}
.share-item {
  width: 45px;
  height: 3rem;
}
.share-item :hover {
  background-color: var(--Theme-color);
  padding-bottom: 15px;
}

body {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* HEADER */
.header__navigation {
  display: flex;
  flex-direction: row;
  color: #f6e9e9;
  background-color: #00536a;
  height: 70px;
  width: 100%;
}

.flag {
  font-size: 18px;
  color: #fff;
}
#nav-lang-fr {
  color: #fff;
}
.listHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.listLangue {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.dropdownI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.dropdownII {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
}
/*  Mise en page Milieu de page */
.marathonPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.section {
  width: 90%;
}

/*  SIDE */
.side {
  padding: 16px;
  color: white;
}
p {
  display: block;
  padding: 1rem;
  width: 94%;
}
.imageSide {
  margin: 5px;
  border: 1px, solid #e6d9d9;
}
.sideCard {
  width: 96%;
  height: 350px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px, solid #e6d9d9;

  /*justify-content: space-between;*/
}
.sidebar {
  margin-right: 5.2rem;
  width: 25rem;
  height: auto;
  background-color: #08661d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  border-radius: 4px;
  opacity: 0.8;
}
h2 {
  display: block;
  font-size: 1.4rem;
  margin-left: 120px;
}
.sidebar-content button {
  margin-top: 10px;
}

#openBtn {
  z-index: 1;
}
.btn-submit {
  width: 110px;
  font-size: 14px;
  background: #f3f6f4;
  color: #098254;
  padding: 0.5rem;
  cursor: pointer;
  display: block;
  margin-bottom: -40px;
  margin-left: 10px;
  transform: skewX(0deg);
  border-radius: 2px;
}
.btn-right {
  width: 110px;
  font-size: 14px;
  background: #f3f6f4;
  color: #098254;
  padding: 0.5rem;
  cursor: pointer;
  display: block;
  margin-bottom: 0px;
  margin-left: 10px;
  transform: skewX(0deg);
  border-radius: 2px;
  position: relative;
  top: -1%;
}
.fa-solid,
.fa-caret-right {
  position: absolute;
  top: 52%;
  right: 16px;
  font-size: 10px;
  margin-top: -4px;
  margin-right: -10px;
  width: 0;
  height: 0;
  font-weight: bolder;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transition: all 0.3s ease;
  border-left: 8px solid #009044;
}
.contentI {
  display: none;
  width: 94%;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  opacity: 1;
  font-size: 14px;
  /* color: #000;*/
  font-weight: bold;
  box-shadow: 1px 1px 0.2px 0.2px #9dfed4;
  /*  background: url("../assetes/imageSidebar/side13.png");*/
}
/* GLOBAL*/

.globle {
  background-color: #ebf7f7;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  gap: 15px;
}
.globleCard {
  width: 460px;
  height: 580px;
}

.detail {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1bb57a;
  box-shadow: 2px 2px 2px 2px #9dfed4;
  margin-top: -6px;
  padding: 4px;
}
.globleCard img {
  width: 100%;
  height: 320px;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px #9dfed4;
}

h3 {
  text-align: start;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: -7px;
  margin-bottom: 17px;
  color: #ffff;
  font-size: 1rem;
  width: 96%;
}

.arrow {
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  color: #dfd9e7;
  font-size: larger;
}
.arrow :hover {
  transform: translate(1.5);
}
.arrow__down {
  transform: rotate(0deg);
  color: #0000;
}

.arrow__up {
  transform: rotate(180deg);
}
.content {
  display: none;
  width: 94%;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  opacity: 1;
  font-size: 14px;
  box-shadow: 1px 1px 0.2px 0.2px #9dfed4;
}
.icon {
  text-transform: none;
  line-height: 1;
  color: #160101;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  z-index: 1;
  width: 50px;
}
li {
  color: #000;
  display: block;
}
footer {
  padding: 2rem;
}
.btn-social-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
#footer-links {
  width: 60%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.link-box,
.text-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #f6fafb;
  font-weight: bold;
}
.text--sm {
  font-size: 1.2rem;
  color: #f6fafb;
  font-weight: bold;
}
.lazyloaded {
  width: 100px;
}
.lien-retour {
  position: absolute;
  top: 27px;
  left: 15px;
  color: #4a4848;
}
.fa-lien {
  color: #4a4848;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
}
